
  .btn-participation {

      padding: 6px 25px;
      text-transform: uppercase;
      margin-top: 15px;
      background-color: #17a2b8;
      border-color: #17a2b8;
      color: #fff !important;
      border-radius: 15px;
      width: 100%;
  }

  .btn-participation:hover  {

    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}


  .btn-form{
      padding: 6px 25px;
      text-transform: uppercase;
      margin-top: 15px;
      margin-right: 25%;
      width: 50%;
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
  }

  .btn-form:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
  }


  .img-card {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  max-height: 240px;
  }

  .modal-input{
    height: 40px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
  }

  .card {
    width: 300px;
    height: 100%;
    }

    #ajoutEndroit {
      display: none;
      width: 100%;
  }

  #ajoutTypeEvent {
    display: none;
    width: 100%;
}
  
  #btnAjoutEndroit {
    padding: 5px;
    margin: 10px 0 10px 10px;
    height: 40px;
    width: 40px;
}

#btnAjoutTypeEvent{
  padding: 5px;
  margin: 10px 0 10px 10px;
  height: 40px;
  width: 40px;
}

 .limit{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
 }

 .btn-event{
  margin-top: 10px;
 }

 .img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}

.information {
  font-size: 12px;
  text-decoration: underline;
  text-align: right;
  color: blue;
  margin-right: 5px;
  cursor: pointer;
}

.center-cell{
  text-align:center;
}

.bi-person-x-fill{
  color: red;
}

.disabled{
  pointer-events:none
}

.inline-flex-parent {
  display: inline-flex;
}

.padding-text{
  padding-top: 12px;
}

.padding-upload{
  float: left;
  padding-left: 7px;
}

.recherche{
  max-width: 30%;
}