#month{
    text-align: center;
    text-align-last: center;
    font-size: 1.25em;
}

#month option{
    text-align: left;
}

.calendar-col-disable{
    text-decoration: line-through;
}

.calendar-col:hover{
    cursor: pointer;
    text-decoration: underline;
}

.category{
    background-color: #f2f2f2;
    text-align: center;
    color: #6e6e6e;
    padding: 5%;
    margin: 2%;
}

.category button{
    background: #5cc4b9;
    border-color: #5cc4b9;
}